@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App > div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: #BCD4DE;
}

.main {
  background-color: #1e1e1c;
  border-radius: 5px;
  height: max-content;
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.main > h1 {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

form input {
  width: 100% !important;
  margin-right: 0 !important;
}

main{
  background-color: #000;
  height: 100%;
}

.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form {
  flex-direction: column;
  max-width: 25vw;
  padding: 15px;
}

.tasks-form {
  flex-direction: column;
  padding: 0 15px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
}

.tasks-main{
  background-color: white;
  align-self: flex-start;

  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 75vw
}

.tasks-header{
  position: relative;
  top: 0;
  background-color: #1c1c1e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90px;
  /* margin-bottom: 2.5vh; */
  width: 100vw;
}

.tasks-header > h1 {
  font-size: 1.6em;
  color: whitesmoke;
}

.tasks-calendar{
  height: 30vh;
  width: 100vh;
  text-align: center;
}

.selected-task{
  background-color: #27272a;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 500;
  font-size: 0.9rem;
  flex-direction: column;
  text-align: left;
  margin-top: 15px;
  padding: 10px 5px;
}
.selected-task > div{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.selected-task p{
  margin-left: 5px;
  margin-bottom: 5px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 15px !important;
}


.date-input input, select, button {
  max-height: 34px;
}

.react-datepicker{
  margin-right: 200px;
  z-index: 9999999;
}

.datepicker{
  height: 28px !important;
  border-radius: 0.25rem;
  width: fit-content;
}

.contact{
  font-size: 15px !important;
}

.react-datepicker-wrapper{
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tasks-inner-container{
  height: fit-content;
}

.dateselector-container{
  display: 'flex'; 
  flex-direction: 'column';
}

.new-contact-section{
  border-radius: 5px;
  display: flex;
  padding: 15px ;
  justify-content: center;
  width: 60vh;
  background-color: #1c1c1e;
  margin-bottom: 2.5vh;
}

.date-input{
  align-self: flex-start;
  color: white;
  height: 80vh !important;
  justify-self: center;
  width: 20%;
}

.date-input span {
  align-self: flex-end;
}


.calendar-container{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

.calendar-form{
  color: whitesmoke;
}

.datepicker{
  width: 89.5%;
  padding: 5px 15px;
}

/* .register-page{
  background-color: #1c1c1e;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.register-page input {
  width: 20vw;
} */

.agenda-form {
  flex-direction: column;
  margin-bottom: 1vh;
  width: 20vw;
}


.login-btn{
  margin-left: 5px;
  height: 38px;
  width: 100px;
}

.login-form input {
  margin-bottom: 10px;
}

.input-group{
  justify-items: stretch;
}

.contact-card{
  border-bottom: 0.0005em solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: fit-content;
  background-color: #1c1c1e;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.contact-name{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}


.contact-card:hover{
  background-color: #202022;
  transform: scale(1.01);
}
.contact-card > p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.agenda-header{
  background-color: #1c1c1e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  margin-bottom: 2.5vh;
  width: 100%;
}

.agenda-header > h1 {
  font-size: 1.6em;
  color: whitesmoke;
}



.agenda-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  width: 100%;
}

.center{
  justify-self: center;
  align-self: center;
}

.form-label{
  margin-bottom: 0.3rem !important;
}

.form-control{
  height: 28px !important;
}

.form-select{
  height: 28px !important;
  padding: 3px;
  text-align: center;
}