@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fafafa;
}
.App {
  height: 100vh;
  text-align: center;
}

main{
  background-color: #f5f0f0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App > div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.main > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-form {
  flex-direction: column;
  max-width: fit-content;
  padding: 15px;
}

.agenda-form {
  flex-direction: column;
  margin-bottom: 1vh;
  width: 20vw;
}


.login-btn{
  margin-left: 5px;
  height: 38px;
  width: 100px;
}

.login-form input {
  margin-bottom: 10px;
}

.input-group{
  justify-items: stretch;
}


.contact-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 100%;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.agenda-header{
  margin-top: 10vh;
  margin-bottom: 2.5vh;
}

.agenda-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  width: 100%;
}

.center{
  justify-self: center;
  align-self: center;
}