@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App > div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: #BCD4DE;
}

.main {
  background-color: #1e1e1c;
  border-radius: 5px;
  height: 50vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.main > h1 {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

form input {
  width: 100% !important;
  margin-right: 0 !important;
}

main{
  background-color: #000;
  height: 100%;
}

.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form {
  flex-direction: column;
  max-width: 25vw;
  padding: 15px;
}

.new-contact-section{
  border-radius: 5px;
  display: flex;
  padding: 15px ;
  justify-content: center;
  width: 60vh;
  background-color: #1c1c1e;
  margin-bottom: 2.5vh;
}

/* .register-page{
  background-color: #1c1c1e;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.register-page input {
  width: 20vw;
} */

.agenda-form {
  flex-direction: column;
  margin-bottom: 1vh;
  width: 20vw;
}


.login-btn{
  margin-left: 5px;
  height: 38px;
  width: 100px;
}

.login-form input {
  margin-bottom: 10px;
}

.input-group{
  justify-items: stretch;
}


.contact-card{
  border-bottom: 0.0005em solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: fit-content;
  background-color: #1c1c1e;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  /* margin: 10px; */
}

.contact-name{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}


.contact-card:hover{
  background-color: #202022;
  transform: scale(1.01);
}
.contact-card > p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.agenda-header{
  background-color: #1c1c1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-bottom: 2.5vh;
  width: 100%;
}

.agenda-header > h1 {
  color: whitesmoke;
}

.agenda-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  width: 100%;
}

.center{
  justify-self: center;
  align-self: center;
}